<div class="convertkit-form-wrapper">
    <h3>Subscribe to our Newsletter</h3>
    <p>Get the latest posts delivered right to your inbox</p>
    <form action="https://app.convertkit.com/forms/YOUR_FORM_ID/subscriptions" method="post" class="seva-form formkit-form">
        <div class="formkit-field">
            <input 
                name="email_address" 
                placeholder="Your email address" 
                required="" 
                type="email" 
                class="formkit-input"
            >
        </div>
        <button type="submit" class="formkit-submit">
            <span>Subscribe</span>
        </button>
        <div class="formkit-guarantee">
            <p>We respect your privacy. Unsubscribe at any time.</p>
        </div>
    </form>
</div> 